<<<<<<< HEAD
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
=======
<h1>Welcom to my app!</h1>
<p>Sign up <%= link_to 'here', '#' %>.</p>
>>>>>>> 486d32900f288a8cc91465b790c24e415dbd7bd0
